 /* Reset de estilos para limpar margens e paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo global para o body */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Estilo para as seções com efeito parallax */
.parallax-section {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    text-align: center;
}

/* Estilo para a primeira seção com parallax */
.section1 {
    background-image: url(top.png); /* Substitua 'imagem1.jpg' pelo caminho da sua imagem */
}

/* Estilo para a segunda seção com parallax */
.section2 {
    background-image: url('botton.png'); /* Substitua 'imagem2.jpg' pelo caminho da sua segunda imagem */
}

/* Estilo para o conteúdo dentro das seções com parallax */
.parallax-content {
    position: relative;
    z-index: 1;
}

/* Estilo para as seções normais */
.normal-section {
    background-color: black;
    color: white;
    padding: 50px 20px;
    text-align: center;
}

/* Estilo para o bloco preto */
.black-block {
    padding: 50px 20px;
}

/* Estilo para as mensagens */
h1, h2 {
    font-size: 2em;
}

