/* CSS para a tabela e centralização */
.profile-table {
    width: 100%;
    height: 100%;
    border-collapse: collapse; /* Remover bordas */
    text-align: center; /* Centralizar o texto */
}

.profile-table td {
    vertical-align: middle; /* Centralizar verticalmente */
}

/* Estilos para as imagens das redes sociais */
.social-icons {
    margin-top: 10px;
    display: flex;
    justify-content: center; /* Centralizar os ícones horizontalmente */
}

.social-icons a {
    margin: 0 10px; /* Espaçamento entre os ícones */
}

.social-icon {
    width: 40px; /* Reduz o tamanho das imagens das redes sociais em 20% */
    height: 40px;
}

/* Estilos para o cartão de perfil */
.profile-card {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fff;
    text-align: center; /* Centralizar o texto */
}

.profile-card h1 {
    margin-top: 0; /* Remover margem superior padrão */
    font-size: 24px; /* Tamanho da fonte do título */
    color: #333; /* Cor do texto */
}

.profil
