/* Estilo para o corpo da página */
body {
    font-family: Arial, sans-serif;
    margin: 0; /* Remove margens padrão do body */
    padding: 0; /* Remove padding padrão do body */
    background-color: #007bff; /* Cor de fundo inicial azul */
    height: 100vh; /* 100% da altura da viewport */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo para o botão de mudança de background */
#change-bg-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    color: #ffffff; /* Cor do texto sempre branco */
    background-color: #28a745; /* Cor de fundo verde padrão */
    border: none;
    border-radius: 5px;
    outline: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Estiliza o botão quando o fundo é verde */
body[style*="background-color: rgb(40, 167, 69)"] #change-bg-btn {
    background-color: #007bff; /* Azul */
}

#change-bg-btn:hover {
    filter: brightness(80%); /* Reduz o brilho no hover */
}
